<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/movie_list">MOVIE LIST</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/booking_history">BOOKING HISTORY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/seat_booking">SEAT BOOKING</a>
    </li>
  </ul>

  {% block content %}
  {% endblock %}
</div>
</body>
</html>
